/* - =========================
- Terminal Variables
- ========================= */

.terminal {
  --terminal-text: hsl(0, 0%, 85%);
  --terminal-background: hsl(0, 0%, 15%);
  --terminal-border: hsl(0, 0%, 30%);
  --terminal-accent: hsl(210, 75%, 60%);
  --terminal-scrollbar: hsl(0, 0%, 45%) transparent;
  --terminal-info: hsl(212, 100%, 65%);
  --terminal-success: hsl(129, 68%, 47%);
  --terminal-warn: hsl(41, 100%, 59%);
  --terminal-error: hsl(3, 100%, 67%);
  --terminal-log: hsl(0, 0%, 65%);
  --terminal-padding: 1rem;
  --terminal-radius: 1rem;
  --terminal-font-family: monospace;
  --terminal-font-size: 16px;
  --terminal-line-height: 1.5;
}

/* - =========================
- Utility Classes
- ========================= */

.hidden {
  display: none !important;
}

/* - =========================
- Terminal Styling
- ========================= */

.terminal {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: var(--terminal-padding);
  overflow: hidden;
  color: var(--terminal-text);
  background: var(--terminal-background);
  border-radius: var(--terminal-radius);
  border: 2px solid var(--terminal-border);
  position: relative;
}

.terminal .monitor {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 36px 36px;
  overflow-y: auto;
  scrollbar-color: var(--terminal-scrollbar);
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.terminal .monitor * {
  font-size: inherit;
  line-height: inherit;
}

.terminal .inputs {
  display: flex;
  position: relative;
}

.terminal .gutter {
  min-height: 20px;
  display: flex;
  flex-direction: column;
  white-space: pre;
  user-select: none;
  color: var(--terminal-accent);
}

.terminal textarea {
  min-height: 20px;
  padding: 0;
  margin: 0;
  flex: 1;
  background: transparent;
  border: none;
  color: var(--terminal-text);
  font-family: inherit;
  outline: none;
  resize: none;
  overflow: hidden;
}

.terminal .output {
  margin-bottom: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--terminal-log);
  line-height: 20px;
}

.terminal .log {
  color: var(--terminal-log) !important;
}

.terminal .accent {
  color: var(--accent-primary) !important;
}

.terminal .error {
  color: var(--terminal-error) !important;
}

.terminal .success {
  color: var(--terminal-success) !important;
}

.terminal .info {
  color: var(--terminal-info) !important;
}

.terminal .warn {
  color: var(--terminal-warn) !important;
}