#content {
  width: 70%;
  height: 70%;
  min-width: 40%;
  min-height: 40%;
  max-width: 90%;
  max-height: 80%;
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  overflow: auto;
  resize: both;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem 2rem 0 2rem;
}